<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnosis.accounts.mapper.AccBankTransferMapper">

    <resultMap id="BaseResultMap" type="com.gnosis.accounts.domain.AccBankTransfer">
        <id column="id" property="id"/>
        <result column="transfer_no" property="transferNo"/>
        <result column="transfer_date" property="transferDate"/>
        <result column="channel_code" property="channelCode"/>
        <result column="channel_name" property="channelName"/>
        <result column="transfer_type" property="transferType"/>
        <result column="transfer_amount" property="transferAmount"/>
        <result column="from_account_id" property="fromAccountId"/>
        <result column="from_account_name" property="fromAccountName"/>
        <result column="to_account_id" property="toAccountId"/>
        <result column="to_account_name" property="toAccountName"/>
        <result column="transfer_status" property="transferStatus"/>
        <result column="journal_id" property="journalId"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, transfer_no, transfer_date, channel_code, channel_name, transfer_type, transfer_amount,
        from_account_id, from_account_name, to_account_id, to_account_name, transfer_status, journal_id,
        description, status, create_user_id, update_user_id, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.gnosis.accounts.domain.AccBankTransfer">
        INSERT INTO sys_acc_bank_transfer (
            id, transfer_no, transfer_date, channel_code, channel_name, transfer_type, transfer_amount,
            from_account_id, from_account_name, to_account_id, to_account_name, transfer_status, journal_id,
            description, status, create_user_id, update_user_id, create_time, update_time
        ) VALUES (
            #{id}, #{transferNo}, #{transferDate}, #{channelCode}, #{channelName}, #{transferType}, #{transferAmount},
            #{fromAccountId}, #{fromAccountName}, #{toAccountId}, #{toAccountName}, #{transferStatus}, #{journalId},
            #{description}, #{status}, #{createUserId}, #{updateUserId}, #{createTime}, #{updateTime}
        )
    </insert>

    <update id="updateById" parameterType="com.gnosis.accounts.domain.AccBankTransfer">
        UPDATE sys_acc_bank_transfer
        <set>
            <if test="transferDate != null">transfer_date = #{transferDate},</if>
            <if test="channelCode != null">channel_code = #{channelCode},</if>
            <if test="channelName != null">channel_name = #{channelName},</if>
            <if test="transferType != null">transfer_type = #{transferType},</if>
            <if test="transferAmount != null">transfer_amount = #{transferAmount},</if>
            <if test="fromAccountId != null">from_account_id = #{fromAccountId},</if>
            <if test="fromAccountName != null">from_account_name = #{fromAccountName},</if>
            <if test="toAccountId != null">to_account_id = #{toAccountId},</if>
            <if test="toAccountName != null">to_account_name = #{toAccountName},</if>
            <if test="transferStatus != null and transferStatus != ''">transfer_status = #{transferStatus},</if>
            <if test="journalId != null">journal_id = #{journalId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateUserId != null and updateUserId != ''">update_user_id = #{updateUserId},</if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM sys_acc_bank_transfer WHERE id = #{id}
    </select>

    <select id="selectByCondition" parameterType="com.gnosis.accounts.dto.transfer.AccBankTransferQueryRequest" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM sys_acc_bank_transfer
        <where>
            <if test="transferNo != null and transferNo != ''">AND transfer_no = #{transferNo}</if>
            <if test="channelCode != null and channelCode != ''">AND channel_code = #{channelCode}</if>
            <if test="transferType != null and transferType != ''">AND transfer_type = #{transferType}</if>
            <if test="transferStatus != null and transferStatus != ''">AND transfer_status = #{transferStatus}</if>
            <if test="transferDateStart != null and transferDateStart != ''">AND transfer_date &gt;= #{transferDateStart}</if>
            <if test="transferDateEnd != null and transferDateEnd != ''">AND transfer_date &lt;= #{transferDateEnd}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="countByCondition" parameterType="com.gnosis.accounts.dto.transfer.AccBankTransferQueryRequest" resultType="java.lang.Long">
        SELECT COUNT(*) FROM sys_acc_bank_transfer
        <where>
            <if test="transferNo != null and transferNo != ''">AND transfer_no = #{transferNo}</if>
            <if test="channelCode != null and channelCode != ''">AND channel_code = #{channelCode}</if>
            <if test="transferType != null and transferType != ''">AND transfer_type = #{transferType}</if>
            <if test="transferStatus != null and transferStatus != ''">AND transfer_status = #{transferStatus}</if>
            <if test="transferDateStart != null and transferDateStart != ''">AND transfer_date &gt;= #{transferDateStart}</if>
            <if test="transferDateEnd != null and transferDateEnd != ''">AND transfer_date &lt;= #{transferDateEnd}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM sys_acc_bank_transfer WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM sys_acc_bank_transfer WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <update id="batchUpdateStatus">
        UPDATE sys_acc_bank_transfer SET status = #{status}, update_time = CURRENT_TIMESTAMP WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>

</mapper>
