<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnosis.lifecycle.repository.LifecycleRouteRuleVersionMapper">

    <resultMap id="BaseResultMap" type="com.gnosis.lifecycle.domain.LifecycleRouteRuleVersion">
        <id column="id" property="id"/>
        <result column="rule_id" property="ruleId"/>
        <result column="version_number" property="versionNumber"/>
        <result column="rule_content" property="ruleContent"/>
        <result column="change_type" property="changeType"/>
        <result column="change_reason" property="changeReason"/>
        <result column="is_current_version" property="isCurrentVersion"/>
        <result column="rollback_from_version" property="rollbackFromVersion"/>
        <result column="remark" property="remark"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, rule_id, version_number, rule_content, change_type, change_reason, is_current_version,
        rollback_from_version, remark, create_user_id, update_user_id, create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_route_rule_version
        WHERE id = #{id}
    </select>

    <select id="selectByRuleId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_route_rule_version
        WHERE rule_id = #{ruleId}
        ORDER BY version_number DESC
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_route_rule_version
        <where>
            <if test="ruleId != null and ruleId != ''">
                AND rule_id = #{ruleId}
            </if>
            <if test="versionNumber != null">
                AND version_number = #{versionNumber}
            </if>
            <if test="changeType != null and changeType != ''">
                AND change_type = #{changeType}
            </if>
            <if test="isCurrentVersion != null">
                AND is_current_version = #{isCurrentVersion}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId}
            </if>
        </where>
        ORDER BY version_number DESC
    </select>

    <insert id="insert" parameterType="com.gnosis.lifecycle.domain.LifecycleRouteRuleVersion">
        INSERT INTO lifecycle_route_rule_version (
            id, rule_id, version_number, rule_content, change_type, change_reason,
            is_current_version, rollback_from_version, remark, create_user_id, update_user_id,
            create_time, update_time
        ) VALUES (
            #{id}, #{ruleId}, #{versionNumber}, #{ruleContent}, #{changeType}, #{changeReason},
            #{isCurrentVersion}, #{rollbackFromVersion}, #{remark}, #{createUserId}, #{updateUserId},
            #{createTime}, #{updateTime}
        )
    </insert>

    <update id="updateById" parameterType="com.gnosis.lifecycle.domain.LifecycleRouteRuleVersion">
        UPDATE lifecycle_route_rule_version
        <set>
            <if test="ruleId != null">rule_id = #{ruleId},</if>
            <if test="versionNumber != null">version_number = #{versionNumber},</if>
            <if test="ruleContent != null">rule_content = #{ruleContent},</if>
            <if test="changeType != null">change_type = #{changeType},</if>
            <if test="changeReason != null">change_reason = #{changeReason},</if>
            <if test="isCurrentVersion != null">is_current_version = #{isCurrentVersion},</if>
            <if test="rollbackFromVersion != null">rollback_from_version = #{rollbackFromVersion},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM lifecycle_route_rule_version WHERE id = #{id}
    </delete>

    <delete id="deleteByRuleId">
        DELETE FROM lifecycle_route_rule_version WHERE rule_id = #{ruleId}
    </delete>

</mapper>
