<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnosis.lifecycle.repository.LifecycleFinalStateConfigMapper">

    <resultMap id="BaseResultMap" type="com.gnosis.lifecycle.domain.LifecycleFinalStateConfig">
        <id column="id" property="id"/>
        <result column="business_type_id" property="businessTypeId"/>
        <result column="state_id" property="stateId"/>
        <result column="state_code" property="stateCode"/>
        <result column="state_name" property="stateName"/>
        <result column="final_action_type" property="finalActionType"/>
        <result column="final_action_config" property="finalActionConfig"/>
        <result column="allow_reactivate" property="allowReactivate"/>
        <result column="remark" property="remark"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, business_type_id, state_id, state_code, state_name, final_action_type,
        final_action_config, allow_reactivate, remark, create_user_id, update_user_id,
        create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_final_state_config
        WHERE id = #{id}
    </select>

    <select id="selectByBusinessTypeId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_final_state_config
        WHERE business_type_id = #{businessTypeId}
        ORDER BY create_time DESC
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_final_state_config
        <where>
            <if test="businessTypeId != null and businessTypeId != ''">
                AND business_type_id = #{businessTypeId}
            </if>
            <if test="stateId != null and stateId != ''">
                AND state_id = #{stateId}
            </if>
            <if test="stateCode != null and stateCode != ''">
                AND state_code = #{stateCode}
            </if>
            <if test="stateName != null and stateName != ''">
                AND state_name LIKE CONCAT('%', #{stateName}, '%')
            </if>
            <if test="finalActionType != null and finalActionType != ''">
                AND final_action_type = #{finalActionType}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="insert" parameterType="com.gnosis.lifecycle.domain.LifecycleFinalStateConfig">
        INSERT INTO lifecycle_final_state_config (
            id, business_type_id, state_id, state_code, state_name, final_action_type,
            final_action_config, allow_reactivate, remark, create_user_id, update_user_id,
            create_time, update_time
        ) VALUES (
            #{id}, #{businessTypeId}, #{stateId}, #{stateCode}, #{stateName}, #{finalActionType},
            #{finalActionConfig}, #{allowReactivate}, #{remark}, #{createUserId}, #{updateUserId},
            #{createTime}, #{updateTime}
        )
    </insert>

    <update id="updateById" parameterType="com.gnosis.lifecycle.domain.LifecycleFinalStateConfig">
        UPDATE lifecycle_final_state_config
        <set>
            <if test="businessTypeId != null">business_type_id = #{businessTypeId},</if>
            <if test="stateId != null">state_id = #{stateId},</if>
            <if test="stateCode != null">state_code = #{stateCode},</if>
            <if test="stateName != null">state_name = #{stateName},</if>
            <if test="finalActionType != null">final_action_type = #{finalActionType},</if>
            <if test="finalActionConfig != null">final_action_config = #{finalActionConfig},</if>
            <if test="allowReactivate != null">allow_reactivate = #{allowReactivate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM lifecycle_final_state_config WHERE id = #{id}
    </delete>

</mapper>
