<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lifecycle.repository.LifecycleDownstreamTriggerConfigMapper">

    <resultMap id="BaseResultMap" type="lifecycle.domain.LifecycleDownstreamTriggerConfig">
        <id column="id" property="id"/>
        <result column="final_state_id" property="finalStateId"/>
        <result column="trigger_type" property="triggerType"/>
        <result column="trigger_url" property="triggerUrl"/>
        <result column="trigger_method" property="triggerMethod"/>
        <result column="trigger_headers" property="triggerHeaders"/>
        <result column="trigger_payload" property="triggerPayload"/>
        <result column="mq_topic" property="mqTopic"/>
        <result column="mq_tag" property="mqTag"/>
        <result column="mq_message_template" property="mqMessageTemplate"/>
        <result column="email_recipients" property="emailRecipients"/>
        <result column="email_template" property="emailTemplate"/>
        <result column="sms_recipients" property="smsRecipients"/>
        <result column="sms_template" property="smsTemplate"/>
        <result column="retry_times" property="retryTimes"/>
        <result column="retry_interval" property="retryInterval"/>
        <result column="timeout_seconds" property="timeoutSeconds"/>
        <result column="is_async" property="isAsync"/>
        <result column="is_active" property="isActive"/>
        <result column="trigger_condition" property="triggerCondition"/>
        <result column="remark" property="remark"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, final_state_id, trigger_type, trigger_url, trigger_method, trigger_headers,
        trigger_payload, mq_topic, mq_tag, mq_message_template, email_recipients, email_template,
        sms_recipients, sms_template, retry_times, retry_interval, timeout_seconds, is_async,
        is_active, trigger_condition, remark, create_user_id, update_user_id, create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_downstream_trigger_config
        WHERE id = #{id}
    </select>

    <select id="selectByFinalStateId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_downstream_trigger_config
        WHERE final_state_id = #{finalStateId}
        ORDER BY create_time DESC
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM lifecycle_downstream_trigger_config
        <where>
            <if test="finalStateId != null and finalStateId != ''">
                AND final_state_id = #{finalStateId}
            </if>
            <if test="triggerType != null and triggerType != ''">
                AND trigger_type = #{triggerType}
            </if>
            <if test="isActive != null">
                AND is_active = #{isActive}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="insert" parameterType="lifecycle.domain.LifecycleDownstreamTriggerConfig">
        INSERT INTO lifecycle_downstream_trigger_config (
            id, final_state_id, trigger_type, trigger_url, trigger_method, trigger_headers,
            trigger_payload, mq_topic, mq_tag, mq_message_template, email_recipients, email_template,
            sms_recipients, sms_template, retry_times, retry_interval, timeout_seconds, is_async,
            is_active, trigger_condition, remark, create_user_id, update_user_id, create_time, update_time
        ) VALUES (
            #{id}, #{finalStateId}, #{triggerType}, #{triggerUrl}, #{triggerMethod}, #{triggerHeaders},
            #{triggerPayload}, #{mqTopic}, #{mqTag}, #{mqMessageTemplate}, #{emailRecipients}, #{emailTemplate},
            #{smsRecipients}, #{smsTemplate}, #{retryTimes}, #{retryInterval}, #{timeoutSeconds}, #{isAsync},
            #{isActive}, #{triggerCondition}, #{remark}, #{createUserId}, #{updateUserId}, #{createTime}, #{updateTime}
        )
    </insert>

    <update id="updateById" parameterType="lifecycle.domain.LifecycleDownstreamTriggerConfig">
        UPDATE lifecycle_downstream_trigger_config
        <set>
            <if test="finalStateId != null">final_state_id = #{finalStateId},</if>
            <if test="triggerType != null">trigger_type = #{triggerType},</if>
            <if test="triggerUrl != null">trigger_url = #{triggerUrl},</if>
            <if test="triggerMethod != null">trigger_method = #{triggerMethod},</if>
            <if test="triggerHeaders != null">trigger_headers = #{triggerHeaders},</if>
            <if test="triggerPayload != null">trigger_payload = #{triggerPayload},</if>
            <if test="mqTopic != null">mq_topic = #{mqTopic},</if>
            <if test="mqTag != null">mq_tag = #{mqTag},</if>
            <if test="mqMessageTemplate != null">mq_message_template = #{mqMessageTemplate},</if>
            <if test="emailRecipients != null">email_recipients = #{emailRecipients},</if>
            <if test="emailTemplate != null">email_template = #{emailTemplate},</if>
            <if test="smsRecipients != null">sms_recipients = #{smsRecipients},</if>
            <if test="smsTemplate != null">sms_template = #{smsTemplate},</if>
            <if test="retryTimes != null">retry_times = #{retryTimes},</if>
            <if test="retryInterval != null">retry_interval = #{retryInterval},</if>
            <if test="timeoutSeconds != null">timeout_seconds = #{timeoutSeconds},</if>
            <if test="isAsync != null">is_async = #{isAsync},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="triggerCondition != null">trigger_condition = #{triggerCondition},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM lifecycle_downstream_trigger_config WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM lifecycle_downstream_trigger_config WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
