<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnosis.openplat.mapper.OpenplatApiConfigMapper">
    
    <resultMap id="BaseResultMap" type="com.gnosis.openplat.domain.OpenplatApiConfig">
        <id column="id" property="id"/>
        <result column="api_code" property="apiCode"/>
        <result column="api_name" property="apiName"/>
        <result column="api_path" property="apiPath"/>
        <result column="api_method" property="apiMethod"/>
        <result column="example_url" property="exampleUrl"/>
        <result column="need_auth" property="needAuth"/>
        <result column="need_anti_replay" property="needAntiReplay"/>
        <result column="rate_limit" property="rateLimit"/>
        <result column="system_id" property="systemId"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <resultMap id="ApiConfigWithSystemResultMap" type="com.gnosis.openplat.domain.OpenplatApiConfig" extends="BaseResultMap">
        <association property="system" javaType="com.gnosis.openplat.domain.OpenplatSystem">
            <id column="system_id" property="id"/>
            <result column="system_code" property="systemCode"/>
            <result column="system_name" property="systemName"/>
            <result column="system_type" property="systemType"/>
            <result column="app_id" property="appId"/>
            <result column="app_secret" property="appSecret"/>
            <result column="principal" property="principal"/>
            <result column="system_status" property="status"/>
            <result column="system_description" property="description"/>
        </association>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, api_code, api_name, api_path, api_method, example_url, need_auth, need_anti_replay,
        rate_limit, system_id, status, description, create_user_id, create_time,
        update_user_id, update_time
    </sql>
    
    <sql id="ApiConfigWithSystem_Column_List">
        a.id, a.api_code, a.api_name, a.api_path, a.api_method, a.example_url, a.need_auth, a.need_anti_replay,
        a.rate_limit, a.system_id, a.status, a.description, a.create_user_id, a.create_time,
        a.update_user_id, a.update_time,
        s.system_code, s.system_name, s.system_type, s.app_id, s.app_secret, s.principal, s.status as system_status, s.description as system_description
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        WHERE id = #{id}
    </select>
    
    <select id="selectByApiCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        WHERE api_code = #{apiCode} AND status = 'ENABLED'
    </select>
    
    <select id="selectByApiPath" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        WHERE api_path = #{apiPath} AND status = 'ENABLED'
    </select>
    
    <select id="selectList" resultMap="ApiConfigWithSystemResultMap">
        SELECT <include refid="ApiConfigWithSystem_Column_List"/>
        FROM openplat_api_config a
        LEFT JOIN openplat_system s ON a.system_id = s.id
        <where>
            <if test="apiCode != null and apiCode != ''">
                AND a.api_code LIKE CONCAT('%', #{apiCode}, '%')
            </if>
            <if test="apiName != null and apiName != ''">
                AND a.api_name LIKE CONCAT('%', #{apiName}, '%')
            </if>
            <if test="apiPath != null and apiPath != ''">
                AND a.api_path LIKE CONCAT('%', #{apiPath}, '%')
            </if>
            <if test="apiMethod != null and apiMethod != ''">
                AND a.api_method = #{apiMethod}
            </if>
            <if test="systemId != null and systemId != ''">
                AND a.system_id = #{systemId}
            </if>
            <if test="status != null and status != ''">
                AND a.status = #{status}
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>
    
    <insert id="insert" parameterType="com.gnosis.openplat.domain.OpenplatApiConfig">
        INSERT INTO openplat_api_config (
            id, api_code, api_name, api_path, api_method, example_url, need_auth,
            need_anti_replay, rate_limit, system_id, status, description,
            create_user_id, create_time, update_user_id, update_time
        ) VALUES (
            #{id}, #{apiCode}, #{apiName}, #{apiPath}, #{apiMethod}, #{exampleUrl}, #{needAuth},
            #{needAntiReplay}, #{rateLimit}, #{systemId}, #{status}, #{description},
            #{createUserId}, #{createTime}, #{updateUserId}, #{updateTime}
        )
    </insert>
    
    <update id="update" parameterType="com.gnosis.openplat.domain.OpenplatApiConfig">
        UPDATE openplat_api_config
        <set>
            <if test="apiName != null and apiName != ''">api_name = #{apiName},</if>
            <if test="apiPath != null and apiPath != ''">api_path = #{apiPath},</if>
            <if test="apiMethod != null and apiMethod != ''">api_method = #{apiMethod},</if>
            <if test="exampleUrl != null">example_url = #{exampleUrl},</if>
            <if test="needAuth != null">need_auth = #{needAuth},</if>
            <if test="needAntiReplay != null">need_anti_replay = #{needAntiReplay},</if>
            <if test="rateLimit != null">rate_limit = #{rateLimit},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null">description = #{description},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM openplat_api_config WHERE id = #{id}
    </delete>
    
    <delete id="deleteByIds">
        DELETE FROM openplat_api_config WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectBySystemId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        WHERE system_id = #{systemId} AND status = 'ENABLED'
    </select>
    
</mapper>
