<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="openplat.mapper.OpenplatApiConfigMapper">
    
    <resultMap id="BaseResultMap" type="openplat.domain.OpenplatApiConfig">
        <id column="id" property="id"/>
        <result column="api_code" property="apiCode"/>
        <result column="api_name" property="apiName"/>
        <result column="api_path" property="apiPath"/>
        <result column="api_method" property="apiMethod"/>
        <result column="example_url" property="exampleUrl"/>
        <result column="need_auth" property="needAuth"/>
        <result column="need_timestamp" property="needTimestamp"/>
        <result column="need_nonce" property="needNonce"/>
        <result column="rate_limit" property="rateLimit"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, api_code, api_name, api_path, api_method, example_url, need_auth, need_timestamp,
        need_nonce, rate_limit, status, description, create_user_id, create_time,
        update_user_id, update_time
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        WHERE id = #{id}
    </select>
    
    <select id="selectByApiCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        WHERE api_code = #{apiCode}
    </select>
    
    <select id="selectByApiPath" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        WHERE api_path = #{apiPath}
    </select>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM openplat_api_config
        <where>
            <if test="apiCode != null and apiCode != ''">
                AND api_code LIKE CONCAT('%', #{apiCode}, '%')
            </if>
            <if test="apiName != null and apiName != ''">
                AND api_name LIKE CONCAT('%', #{apiName}, '%')
            </if>
            <if test="apiPath != null and apiPath != ''">
                AND api_path LIKE CONCAT('%', #{apiPath}, '%')
            </if>
            <if test="apiMethod != null and apiMethod != ''">
                AND api_method = #{apiMethod}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <insert id="insert" parameterType="openplat.domain.OpenplatApiConfig">
        INSERT INTO openplat_api_config (
            id, api_code, api_name, api_path, api_method, example_url, need_auth,
            need_timestamp, need_nonce, rate_limit, status, description,
            create_user_id, create_time, update_user_id, update_time
        ) VALUES (
            #{id}, #{apiCode}, #{apiName}, #{apiPath}, #{apiMethod}, #{exampleUrl}, #{needAuth},
            #{needTimestamp}, #{needNonce}, #{rateLimit}, #{status}, #{description},
            #{createUserId}, #{createTime}, #{updateUserId}, #{updateTime}
        )
    </insert>
    
    <update id="update" parameterType="openplat.domain.OpenplatApiConfig">
        UPDATE openplat_api_config
        <set>
            <if test="apiName != null and apiName != ''">api_name = #{apiName},</if>
            <if test="apiPath != null and apiPath != ''">api_path = #{apiPath},</if>
            <if test="apiMethod != null and apiMethod != ''">api_method = #{apiMethod},</if>
            <if test="exampleUrl != null">example_url = #{exampleUrl},</if>
            <if test="needAuth != null">need_auth = #{needAuth},</if>
            <if test="needTimestamp != null">need_timestamp = #{needTimestamp},</if>
            <if test="needNonce != null">need_nonce = #{needNonce},</if>
            <if test="rateLimit != null">rate_limit = #{rateLimit},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null">description = #{description},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM openplat_api_config WHERE id = #{id}
    </delete>
    
    <delete id="deleteByIds">
        DELETE FROM openplat_api_config WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>
